<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>weatherloghome</title>

		{% load staticfiles %}
		<!-- favicon -->
		<link rel="icon" href="/weatherlogicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="{% static 'weatherlogicon.ico' %}" type="image/x-icon"/>

		<link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Architects+Daughter" />          <!-- title font -->
		<link rel="stylesheet" href="{% static '/css/ebs-bootstrap-datepicker-1.css' %}" />
		<link rel="stylesheet" href="{% static '/css/ebs-bootstrap-datepicker-2.css' %}" />
		<link rel="stylesheet" href="{% static '/css/ebs-bootstrap-datepicker-3.css' %}" />
		<link rel="stylesheet" href="{% static '/css/ebs-bootstrap-datepicker-4.css' %}" />
		<link rel="stylesheet" href="{% static '/css/ebs-bootstrap-datepicker.css' %}" />
		<link rel="stylesheet" href="{% static '/css/styles.css' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  <!-- about panel -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>


	<body>
		<!-- title -->
		<div class="container-fluid" style="color:rgb(0,0,0);background-color:#6bace8;margin:0px;padding:0px;padding-right:15px;padding-left:15px;padding-bottom:10px;padding-top:10px;">
			<h1 style="font-family:'Architects Daughter', cursive;"><strong>Weather Data</strong>&nbsp;<strong>Tracker</strong>- (Tampa, Florida)</h1>
		</div>


        <!-- input form -->
		<div class="container-fluid" style="background-color:#6bace8;">
			<form class="form-vertical">
				<div class="form-group row">
					<div class="col-xs-10 col-md-4">
						<label for="start">Start Date:&nbsp;</label>
						<input id="start" class="form-control" type="datetime-local">
					</div>
				</div>
				<div class="form-group row">
					<div class="col-xs-10 col-md-4">
						<label for="end">End Date:&nbsp;</label>
						<input id="end" class="form-control" type="datetime-local">
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary" type="button" onclick="getdata()">Submit</button>
				</div>
			</form>
		</div>


        <!-- show error message if data comes back empty -->
        <div class="container-fluid d-flex justify-content-center h3">
			<div class="row justify-content-center align-items-center align-content-center align-self-center">
				<div class="col-12">
				    <div id="err"></div>
				</div>
			</div>
	    </div>


        <!-- stats table -->
        <div id="statTable" class="table-responsive table table-striped table-bordered" style="margin-top:20px;">
			<table id="statTable" style="margin:auto; margin-top:15px; margin-bottom:15px;">
				<caption style="text-align:center;">Actual means and standard deviations for all 3 sensors (temperature, humidity, and pressure).</caption>
				<thead>
					<tr>
						<th></th>
						<th>Temperature</th>
						<th>Humidity</th>
						<th>Pressure</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Mean</td>
						<td id="tAvg"></td>
						<td id="hAvg"></td>
						<td id="pAvg"></td>
					</tr>
					<tr>
						<td>StDv</td>
						<td id="tStdv"></td>
						<td id="hStdv"></td>
						<td id="pStdv"></td>
					</tr>
				</tbody>
			</table>
		</div>



		<!-- loading/spinner animation -->
		<div class="container-fluid d-flex justify-content-center">
			<div class="row justify-content-center align-items-center align-content-center align-self-center">
				<div class="col-12">
					<div id="wait"><img src="{% static 'rolling.gif' %}" width="64" height="64"/><br>Loading..</div>
				</div>
			</div>
		</div>



        <!-- temperature plots -->
		<div class="container-fluid">
			<div class="row" style="background-color:#6bace8;">
			    <div class="col-xs-10">
				    <h3 style="font-family:'Architects Daughter', cursive;"><strong>Temperature</strong></h3>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<div id="tPlot" align="center"></div>
				</div>
				<div class="col-6">
					<div id="tHist" align="center"></div>
				</div>
			</div>
		</div>


		<hr>


        <!-- humidity plots -->
        <div class="container-fluid">
			<div class="row" style="background-color:#6bace8;">
			    <div class="col-xs-10">
				    <h3 style="font-family:'Architects Daughter', cursive;"><strong>Humidity</strong></h3>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<div id="hPlot" align="center"></div>
				</div>
				<div class="col-6">
					<div id="hHist" align="center"></div>
				</div>
			</div>
		</div>


		<hr>


        <!-- pressure plots -->
        <div class="container-fluid">
			<div class="row" style="background-color:#6bace8;">
			    <div class="col-xs-10">
				    <h3 style="font-family:'Architects Daughter', cursive;"><strong>Pressure</strong></h3>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-6">
					<div id="pPlot" align="center"></div>
				</div>
				<div class="col-6">
					<div id="pHist" align="center"></div>
				</div>
			</div>
		</div>


        <hr>
		<!-- Footer/About section -->
		<div class="panel panel-info">
			<div class="panel-heading">About</div>
			<div class="panel-body">
				Data from this website is gathered using a sensor (BME280) and Raspberry Pi 3 for processing and uploading.<br>
				The first measurement was taken on 06/08/2018 12:41 PM. The circuit is located in Tampa, Fl and is maintained <br>
				by the website operator. <br> <br>
				<strong>Brett Farmer</strong> <br>

				<a href="https://www.linkedin.com/in/brett-farmer/" target="_blank">
				    <i class="fa fa-linkedin-square" style="font-size:36px"></i>
				</a>
				<a href="https://github.com/brett6886" target="_blank">
				    <i class="fa fa-github" style="font-size:36px; color:black;"></i>
				</a>
			</div>
		</div>


		<!-- reference plotly -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<!-- datetime picker ext files -->
		<script src="{% static '/js/jquery.min.js' %}" /></script>
		<script src="{% static '/bootstrap/js/bootstrap.min.js' %}" /></script>
		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

		<!-- Miscellaneous scripts -->
		<script src="{% static '/js/weatherScript.js' %}" /></script>

	</body>
</html>